<div class="tekst">
<aside>
    <img src="/assets/logo1.png" >
    <img src="/assets/logo2.png" >
    <img src="/assets/logo3.png" >
</aside>
<div class="img">
    <img class="one" src="/assets/slika.png" >
    <img class="two" src="/assets/pack.png" >
</div>
<div class="paragraf">
<p>
<b>Osnovana davne 1982. godine, porodična firma - mesara Jančić je postala sinonim za tradiciju i kvalitet među Zemuncima, ali i šire. 
Širok asortiman domaćih proizvoda, sveže meso sa lokalnih farmi, originalna receptura naših dimljenih delikatesa,
samo su deo razloga zbog kojih nam zadovoljni potrošači već godinama veruju.</b></p>
<p><b>
Ipak, najpoznatiji smo po svojim roštiljskim kobasicama, bez kojih je, za mnoge, proslava Prvomajskog uranka postala nezamisliva. 
Bilo da dolazite po naše specijalitete sa roštilja ili vam treba ideja i preporuka za dobar komad mesa (a ujedno i najbolji recept od naših iskusnih mesara),
dobićete vrhunski proizvod pouzdanog porekla i kvaliteta.</b></p>
<p><b>
Naš raspoložen kolektiv, kao i iskusni gazda Živko Jančić toplo će vas dočekati svakoga dana od 08h do 18h i uslužiti na stari majstorski način,
kako je već, u Zemunu, i običaj.
</b></p>
</div>

</div>
<div class="invisible">
    <img src="/assets/logo1.png" >
    <img src="/assets/logo2.png" >
    <img src="/assets/logo3.png" >
</div>